---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-4xl font-bold flex flex-row gap-x-4 pb-4">Hola soy Adrian Porlan 
				<a class="flex justify-center items-center"
					href="https://www.linkedin.com/in/adrianporlan/"
					target="_blank"
					rel="noopener"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl text-wrap">1 año de experiencia. Administrador de Sistemas Informáticos en Red. De Murcia, España. Especializado en gestion
				y administracion web con wordpress.
			</h2>
			<ul></ul>
		</section>
	</main>
</Layout>

